$containerHeight: 110px;
$navLinkBgColor: #ced9e9;

.navbar-menu-container {
	height: $containerHeight;
	> * {
		z-index: 5;
	}
}

.bg-nav-color {
	background-color: $navLinkBgColor;
}

.link-border-right {
	border-right: 1px solid #b8b8b8;
}

.navbar-nav .nav-link {
	background-color: $navLinkBgColor;
}

.user-action {
	background: rgba(190, 190, 190, 0.2);
	justify-content: center;
	height: $containerHeight;
	> a:first-child {
		color: rgba(0, 0, 0, 0.5);
	}
}

.sign-up-btn {
	color: #ffffff;
	border-radius: 25px;
	background-color: #d9455f;
}

.icons-bar {
	visibility: hidden;
}

@media screen and (max-width: 768px) {
	.link-border-right {
		border-right: none;
	}

	.navbar {
		padding: 0.5rem 0rem !important;
	}

	.navbar-nav .nav-link,
	.navbar-brand {
		padding-left: 15px !important;
	}

	.navbar > .navbar-toggler,
	.navbar-toggler.collapsed {
		margin-right: 15px;
	}

	.user-action,
	.icon-search-svg {
		visibility: hidden;
	}

	.icons-bar {
		visibility: visible;
		width: 100px;
	}
}
